body {
    background-color: rgb(250, 242, 234) !important;
}

.AppDark {
    background-color: rgb(179, 145, 136) !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}




.blocs {
    margin-top: 60px !important;
    padding-bottom: 60px !important;
    border-bottom: solid 1px #B39188 !important;
}

.blocsDark {
    margin-top: 60px !important;
    padding-bottom: 60px !important;
    border-bottom: solid 1px #FAF2EA !important;
}

.titre {

    color: #B39188 !important;
    margin: 10px;
}

.titreDark {

    color: #FAF2EA !important;
    margin: 10px;
}

.paragraphe {
    white-space: pre-line;
    margin-top: 60px;
}

.paragrapheDark {
    white-space: pre-line;
    margin-top: 60px;
    color: #FAF2EA;
}

.listeGroup {
    margin-top: 60px;
    padding: 30px;
    border-top-width: 30px;
    border-top: solid 1px #FFAE9D;
}

.listeGroupDark {
    margin-top: 60px;
    padding: 30px;
    border-top-width: 30px;
    border-top: solid 1px #392E2C;
    color: #FAF2EA;
}

.listeTitre {
    color: #FFAE9D;
}

.listeTitreDark {
    color: #392E2C;
}

.cardPerso {
    height: 600px !important;
    width: 400px !important;
    background-color: rgb(204, 174, 164) !important;
}

.cardPersoDark {
    height: 600px !important;
    width: 400px !important;
    background-color: rgb(204, 174, 164) !important;
}


.cardPersoDark h5 {
    color: #FAF2EA;

}

.stylePara {
    border-left: solid 1px #FAF2EA;
    padding-left: 10px;
    white-space: pre-line;
}

.styleParaDark {
    border-left: solid 1px #392E2C;
    padding-left: 10px;
    white-space: pre-line;
    color: #392E2C;
}

.text {
    color: #392E2C
}

.textDark {
    color: #FAF2EA;
}

.animation {
    transition-duration: 0.5s;

}

.animation:hover {
    transform: scale(1, 1.1);
}

/* #################################################################################################### 
Navigation
   #################################################################################################### */
.nav a {
    color: rgb(57, 46, 44);
    font-size: larger;
}

.nav a:hover {
    color: rgb(57, 46, 44);
    text-decoration: underline;
}

.navigation {
    background-color: #FAF2EA !important;
}

.navigationDark {
    background-color: #392E2C !important;
}

.navigationDark .nav a {
    color: #FAF2EA !important;
}

.navigationDark .nav a:hover {
    color: #FAF2EA !important;
    text-decoration: underline;
}

.espaceNav {

    height: 60px;
}

/* #################################################################################################### 
Page principale
   #################################################################################################### */
.imgProfil {
    height: 600px;
}

/* #################################################################################################### 
Compétences
   #################################################################################################### */

.competence {
    width: 100px;
    height: 100px;
    border: solid 1px #392E2C !important;
    transition-duration: 0.5s;
}

.competence:hover {
    transform: scale(1.1, 1.1);
}

.competenceDark {
    width: 100px;
    height: 100px;
    border: solid 1px #FAF2EA !important;
    transition-duration: 0.5s;
}

.competenceDark:hover {
    transform: scale(1.1, 1.1);
}

/* #################################################################################################### 
Compétences
   #################################################################################################### */
.cardProject {
    height: 400px !important;
    width: 400px !important;
    background-color: rgb(204, 174, 164) !important;
}